<div class="w-full mb-20 text-white">
  <div class="w-[80%] mx-auto">
    <div
      class="py-5 grid grid-cols-5 justify-items-center bg-primary rounded-t-xl"
    >
      <h2>Codigo unico</h2>
      <h2>Descripcion</h2>
      <h2>Fecha</h2>
      <h2>Moneda</h2>
      <h2>Monto</h2>
    </div>
    <div *ngFor="let item of data" class="row_table">
      <p>{{ item.codigo_unico }}</p>
      <p>{{ item.descripcion }}</p>
      <p>{{ item.fecha }}</p>
      <p>{{ item.moneda }}</p>
      <p>{{ item.monto }}</p>
    </div>
  </div>
</div>
