<main class="flex flex-col justify-between items-center hight-cal">
  <div
    class="w-full bg-primary flex justify-center items-center text-white h-10"
  >
    <p><strong> Sed ut perspiciatis</strong> unde omnis iste natus error sit</p>
    <div class="bg-white px-4 rounded-lg ml-2">
      <a href="https://ftb.pe/" class="text-primary">ftb.pe</a>
    </div>
  </div>
  <section class="w-full px-32">
    <h2 class="text-4xl font-bold mb-2">El mejor gestor de movimientos bancarios</h2>
    <h3 class="text-primary text-4xl font-bold">#ForgetTheBank</h3>
  </section>
  <section class="w-full px-28 mb-14">
    <div
      class="relative h-44 border-2 bg-white border-primary flex justify-around items-center rounded-2xl"
    >
      <div>
        <h2 class="text-primary font-bold mb-3">¿Qué moneda?</h2>
        <button class="border-2 border-primary px-8 py-2 rounded-3xl mr-2">
          <p class="text-primary font-black">SOLES PEN.S/</p>
        </button>
        <button class="border-2 border-[#02c6b4] px-8 py-2 rounded-3xl">
          <p class="text-[#02c6b4] font-black">DOLARES USD$</p>
        </button>
      </div>
      <div>
        <h3 class="text-primary font-bold mb-3">¿Cuánto?</h3>
        <div class="flex bg-[#e1e1e1] rounded-3xl px-10 py-2">
          <p class="mr-2">$</p>
          <input
            class="bg-transparent outline-none"
            type="number"
            placeholder="MONTO"
          />
        </div>
      </div>
      <div>
        <p class="text-primary text-xs mb-2 text-center">
          ¿Tienes código promocional?
        </p>
        <button class="bg-primary px-16 py-3 rounded-3xl">
          <p class="text-white text-xs font-bold">SOLICITA SERVICIO</p>
        </button>
      </div>
      <div
        class="absolute z-[-1] bottom-[-40px] dot-bg-custom w-full h-32"
      ></div>
    </div>
  </section>
  <section class="w-full px-32">
    <div
      class="relative h-32 bg-[#01bba1] flex justify-end items-center rounded-3xl px-10"
    >
      <img
        class="absolute left-36 bottom-[-20px] w-52"
        src="../../../assets/Savings.svg"
        alt=""
      />
      <div
        class="absolute left-0 right-0 flex flex-col justify-center items-center text-white"
      >
        <h3 class="font-bold text-xl">Manten tu orden.</h3>
        <p>Comparte tu código promocional</p>
        <p>y obtén operaciones a margene cero.</p>
        <a class="underline font-bold" href="">Más información</a>
      </div>
      <div class="mr-20">
        <div class="flex justify-center items-center bg-white text-[#01bba1] px-2 py-1 rounded-md mb-2">
          <p class="font-black text-2xl">A1B2C3</p>
        </div>
        <div class="flex">
          <img class="w-8 mx-1" src="../../../assets/wts.png" alt="whatsapp">
          <img class="w-8 mx-1" src="../../../assets/face.png" alt="facebook">
          <img class="w-8 mx-1" src="../../../assets/link.png" alt="linkedin">
          <img class="w-8 mx-1" src="../../../assets/mail.png" alt="mail">
        </div>
      </div>
    </div>
  </section>
  <section
    class="w-full h-10 bg-primary text-[#bcbcbd] flex justify-between items-center px-10"
  >
    <div>2023 FTB Hub S.A.C. | RUC 20601715903</div>
    <div class="flex">
      <div>
        <div class="flex">
          <img class="w-5 mx-2" src="../../../assets/mail.png" alt="" />
          <p>info@ftb.pe</p>
        </div>
      </div>
      <div class="ml-5">
        <div class="flex">
          <img class="w-5 mx-2" src="../../../assets/wts.png" alt="whatsapp">
          <p>922 085 507</p>
        </div>
      </div>
    </div>
  </section>
</main>
